/* =============================================================
========================== content ==========================
============================================================= */
/* 1. general styles */

/* 2. navbar */

/* 3. section-1 */

/* 4. section-2 */

/* 5. section-3 */

/* 6. section-4 */

/* 7. section-5 */

/* 8. section-6 */

/* 9. section-7 */

/* 10. section-8 */

/* =========================
   ===== general styles ====
   ========================= */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Basis Grotesque Pro', sans-serif;
    background-color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-s {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-flex-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.section-grid-container {
    display: grid;
    grid-template-columns: 100%;
}

.button {
    padding: 16px 31px;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #0536FC;
    cursor: pointer;
}

.button:hover {
    background-color:#0536fc8f;
}

.arrow-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.arrow {
    width: 100px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fff;
}

.ord__list {
    list-style: none;
}

/* ==== subsections ==== */
.sub {
    position: relative;
    padding-top: 50px;
    color: #000;
}

.sub:hover {
    background-color: #0536FC;
    color: #fff;
}

.sub__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.sub__text p:first-child {
    text-transform: uppercase;
    opacity: 0.7;
}

.sub__text_h4 {
    font-weight: 700;
    text-transform: uppercase;
}

.sub__text_p {
    opacity: 0.6;
}

@media all and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
}

@media all and (min-width: 425px) {
    .section-grid-container {
        grid-template-columns: 50% 50%;
    }
}

@media all and (min-width: 720px) {
    .section-grid-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media all and (min-width: 768px) {
    .button {
        padding: 18px 35px;
        border: 1px solid transparent;
        font-size: 16px;
        line-height: 150%;
    }

    .row {
        flex-direction: row;
    }

    .desktop-hidden {
        display: none;
    }
}

/* =========================
   ======= navbar =======
   ========================= */

.navbar-container {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.navbar-container_pad {
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-container {
    margin-left: 3.5%;
    margin-right: 3.4%;
}

.logo__figure {
    position: relative;
}

.logo__caption {
    display: none;
    margin-left: 40px;
}

.logo__link {
    text-decoration: none;
}

.logo__image_no-mxwdth {
    max-width: none;
}

.logo__figure {
    position: relative;
}

.logo__image-container {
    position: absolute;
    top: 7px;
}

.links-and-language-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.links-container {
    display: flex;
    align-items: center;
}

.links-container__ul {
    display: flex;
}

.nav_li {
    list-style-type: none;
    margin-right: 17px;
}

.nav_li::after {
    content: url('icons/arrow_dropdown_black.svg');
    padding-left: 10px;
}

.links-container__link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    opacity: 0.85;
}

.language-container {
    display: flex;
    align-items: center;
    margin-right: 3.5%;
}

select {
    color: #0536FC;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    opacity: 0.85;
    border: 1px solid transparent;
}

.school {
    margin-left: 40px;
}

.menu {
    margin-left: 40px;
}

@media all and (min-width: 768px) {

    .nav_li {
        margin-right: 25px;
    }

    .partners-marg {
        margin-right: 50px;
    }

    .support {
        margin-right: 20px;
    }
}

@media all and (min-width: 960px) {
    .nav_li {
        margin-right: 50px;
    }

    .partners-marg {
        margin-right: 101px;
    }
}

@media all and (min-width: 1205px) {
    .logo__caption {
        display: block;
        padding-left: 10px;
        color: #000;
        font-weight: 300;
        opacity: 0.35;
    }

    .logo-container {
        margin-left: 3.5%;
        margin-right: 6.3%;
    }

    .school {
        margin-left: 0px;
    }
}

/* =========================
   ======= section-1 =======
   ========================= */

/* ==== program ===== */

.program {
    padding-left: 20px;
    padding-top: 8.06%;
    padding-bottom: 8%;
    padding-right: 20px;
}

.program-text {
    max-width: 498px;
    margin-left: auto;
}

.program-text h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #0536FC;
    opacity: 0.9
}

.program-text h3 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 47px;
    line-height: 104%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
}

.program-text p {
    margin-top: 70px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.6;
}

.button-container-1 {
    margin-top: 100px;
}

/* ==== boy-and-plane ==== */
.boy-and-plane {
    position: relative;
    max-height: 320px;
    width: 100%;
    /* aspect-ratio: 16 / 9; */
}

.boy {
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-position: top;
}

.boy-and-plane img:last-child {
    position: absolute;
    right: 35px;
    bottom: 35px;
}

@media all and (min-width: 430px) {
    .boy-and-plane {
        max-height: initial;
    }
}

@media all and (min-width: 768px) {
    .boy {
        aspect-ratio: initial;
    }
    .boy-and-plane {
        flex-basis: 50%;
    }
    .program {
        flex-basis: 50%;
    }

    .program-text h2 {
        font-size: 16px;
    }

    .program-text h3 {
        font-size: 57px;
    }

    .program-text p {
        font-size: 16px;
    }
}

/* =========================
   ======= section-2 =======
   ========================= */

/* ==== tu ==== */
.tu {
    display: none;
}

.tu img {
   object-fit: cover;
   width: 565px;
   height: 810px;
}

/* ==== goal ==== */

.goal {
    padding-top: 10.4%;
    padding-left: 3.5%;
    padding-bottom: 10.4%;
    padding-right: 20px;
}

.goal__text-cotainer {
    max-width: 408px;
    margin-right: auto;
}

.goal h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #0536FC;
    opacity: 0.9
}

.goal h3 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
}

.goal p {
    margin-top: 70px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.6;
}

.button-container-2 {
    margin-top: 100px;
}

@media all and (min-width: 768px) {
    .tu {
        flex-basis: 50%;
    }

    .goal {
        flex-basis: 50%;
    }

    .goal h2 {
        font-size: 16px;
    }

    .goal h3 {
        font-size: 38px;
    }

    .goal p {
        font-size: 16px;
    }

    .text-container-section-2 {
        max-width: 330px;
    }

    .tu {
        display: block;
        background-color: #FF8201;
        padding-left: 10.8%;
    }
}

/* =========================
   ======= section-3 =======
   ========================= */

/* ==== grid layout ====*/
.people {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} 

.lesson {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.schools {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.participants {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.chatting {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.partners {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.hight_five {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

@media all and (min-width: 425px) {
    .people {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    } 
    
    .lesson {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .schools {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .participants {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .chatting {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .partners {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .hight_five {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}

@media all and (min-width: 720px) {
    .people {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    } 
    
    .lesson {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .schools {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    
    .participants {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .chatting {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .partners {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    
    .hight_five {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}

/* triangles */
/* .tr-container {
    position: absolute;
}

.white-tr-left {
    width: 0;
    height: 0;
    border-right: 20px solid #FFFFFF;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}

.white-tr-right {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FFFFFF;
}

.tr-left {
    top: 36px;
    left: -40px;
}

.tr-right {
    top: 36px;
    right: -40px;
}

.sub_hover:hover .white-tr-left {
    border-right: 20px solid #0536FC;
}

.sub_hover:hover .white-tr-right {
    border-left: 20px solid #0536FC;
} */

/* people styles */
.people {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.people-text-container h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #0536FC;
    opacity: 0.9;
}

.people-text-container h3 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

/* images */
.adaptive-image {
    width: 100%;
}

.img-left {
    object-position: left;
}

@media all and (min-width: 425px) {
    .adaptive-image {
        object-fit: cover;
        height: 100%;
    }

    /* triangles */
.tr-container {
    position: absolute;
}

.white-tr-left {
    width: 0;
    height: 0;
    border-right: 20px solid #FFFFFF;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}

.white-tr-right {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FFFFFF;
}

.tr-left {
    top: 36px;
    left: -40px;
}

.tr-right {
    top: 36px;
    right: -40px;
}

.sub_hover:hover .white-tr-left {
    border-right: 20px solid #0536FC;
}

.sub_hover:hover .white-tr-right {
    border-left: 20px solid #0536FC;
}
}

@media all and (min-width: 768px) {
    .people-text-container h2 {
        font-size: 16px;
    }

    .people-text-container h3 {
        font-size: 38px;
    }
}

@media all and (min-width: 1024px) {
    .people {
        padding-top: 150px;
        padding-left: 210px;
    }
}

/* subsections */
.sect3__subtext_layout {
    margin-left: 20px;
    padding-right: 30px;
    padding-bottom: 100px;
}

.sect3__subtext_layout p:first-child {
    margin-bottom: 30px;
}

.sect3__subtext_layout h4 {
    margin-bottom: 70px;
}

@media all and (min-width: 850px) {
    .sect3__subtext_layout {
        margin-left: 50px;
    }
}

@media all and (min-width: 1200px) {
    .sect3__subtext_layout {
        margin-left: 50px;
    }
}

@media all and (min-width: 1400px) {
    .sect3__subtext_layout {
        padding-right: 110px;
        padding-bottom: 36px;
    }

    .sect3__subtext_layout h4 {
        margin-bottom: 210px;
    }
}

/* =========================
   ======= section-4 =======
   ========================= */
/* general  */
.problem__text {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    opacity: 0.6;
}

@media all and (min-width: 768px) {
    .problem__text {
        font-size: 16px;
    }
}

/* ==== grid ====*/

.problematics {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.list-container {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

@media all and (min-width: 1025px) {
    .together {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    .problematics {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }
}

/* together */
.together {
    padding-top: 204px;
    padding-left: 212px;
    display: none;
}

.together_p {
    opacity: 0.35;
}

/* problematics */

.problematics {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.problematics_h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #0536FC;
    opacity: 0.9;
}

.problematics_h3 {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 28px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

@media all and (min-width: 768px) {
    .problematics_h2 {
        font-size: 16px;
    }

    .problematics_h3 {
        font-size: 38px;
    }

    .problematics {
        /* padding-right: 30px; */
        padding-top: 150px;
    }
}

@media all and (min-width: 870px) {
    .problematics {
        padding-left: 50px;
    }
}

@media all and (min-width: 1025px) {
    .text-container-section-4 {
        max-width: 488px;
    }

    .together {
        display: initial;
    }
}

/* icons block */
.problems-list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.list-container {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon-figures-container {
    display: flex;
    margin-bottom: 50px;
}

.icon-container {
    margin-right: 35px;
    padding-top: 15px; 
}

.problem__figure {
    font-weight: 500;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.problem__icon {
    max-width: none;
}

@media all and (min-width: 660px) {
    .problems-list {
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }

    .list-container {
        padding-top: 70px;
        padding-bottom: 150px;
    }
}

@media all and (min-width: 1025px) {
    .problems-list {
        list-style: none;
        display: flex;
        gap: 11.5%;
        justify-content: flex-end;
    }
    
    .list-container {
        padding-right: 140px;
        padding-top: 70px;
        padding-bottom: 150px;
    }
}

/* =========================
   ======= section-8 =======
   ========================= */

.subsections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media all and (min-width: 768px) {

    .subsections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sect8__flex {
        flex-basis: 50%;
        flex-grow: 1;
    }
}

@media all and (min-width: 1270px) {
    .sect8__flex {
        flex-basis: 25%;
    }
}

/* ==== hero ==== */
.hero-background {
    background: url('images/teacher-children.png') no-repeat center;
    background-size: cover;
    max-height: 575px;
}

.hero {
    padding-top: 48px;
    padding-bottom: 48px;
}

.hero-text {
    color: #fff;
    max-width: 350px;
}

.hero-text h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    opacity: 0.9;
}

.hero-text h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

@media all and (min-width: 768px) {
    .hero {
        padding-top: 150px;
        padding-bottom: 20%;
    }
    
    .hero-text {
        max-width: 460px;
    }

    .hero-text h2 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .hero-text h3 {
        font-size: 38px;
    }
}

/* ==== subsections ==== */

.sect8__subtext_layout {
    margin-left: 20px;
    padding-right: 100px;
    padding-bottom: 150px;
}

.sect8__subtext_layout p:first-child {
    margin-bottom: 30px;
}

.sect8__subtext_layout h4 {
    margin-bottom: 70px;
}

@media all and (min-width: 768px) {
    .sect8__subtext_layout {
        margin-left: 50px;
    }
}