@font-face {
    font-family: "ogg";
    src: url('fonts/OggLight.woff') format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "ogg";
    src: url('fonts/OggLightItalic.woff') format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "ogg";
    src: url('fonts/OggMediumItalic.woff') format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Trade Gothic LT Extended";
    src: url('fonts/Trade\ Gothic\ LT\ Extended.woff') format("woff");
    font-weight: 400;
    font-style: normal;
}