/* general styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trade Gothic LT Extended", Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0 20px;
}

.font-special {
    font-family: "ogg", Arial, Helvetica, sans-serif;
}

.green-text {
    color: #71870E;
}

.italic-text {
    font-style: italic;
}

.block {
    display: block;
}

@media all and (min-width: 1200px) {
    .wrapper {
        max-width: 1320px;
    }
}

@media all and (max-width: 1200px) {
    .mobile-hidden {
        display: none !important;
    }
}

/* 
============================
=====convergence of zen=====
============================ */

/* grid layout */
.section-1-container {
    display: grid;
    grid-template-columns: 100%;
}

.text-container {
    grid-column: 1/2;
    grid-row: 1/2;
}

.images-container {
    grid-column: 1/2;
    grid-row: 2/3;
}

/* .breath {
    grid-column: 1/3;
    grid-row: 2/3;
} */

@media all and (min-width: 1200px){
    .section-1-container {
        grid-template-columns: 50% 50%;
    }
    
    .images-container {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

/* text styles */
.h2-container {
    text-align: center;
    margin-bottom: 20px;
}

.section-header {
    font-weight: 300;
    font-size: 40px;
    line-height: 110%;
    vertical-align: text-top;
}

.p-container {
    font-size: 16px;
    line-height: 28px;
    opacity: 0.85;
}

.line {
    margin-top: 10px;
}

.button {
    display: flex;
    gap: 30px;
    color: #CD9A3D;
    font-family: "Trade Gothic LT Extended";
    font-size: 16px;
    line-height: 150%;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.line-and-more {
    margin-top: 50px;
    margin-left: 55px;
    margin-bottom: 30px;
}

.philosoph {
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    opacity: 0.55;
}



@media all and (min-width: 1200px) {
    .text-container {
        padding-top: 87px;
    }

    .h2-container {
        margin-left: 75px;
        max-width: 520px;
    }    

    .section-header {
        font-size: 60px;
        line-height: 107%;
        display: inline;
    }

    .desktop-bold {
        font-weight: 500;
    }

    .p-container {
        margin-top: 100px;
        margin-left: 97px;
        margin-right: 40px;
    }

    .line-and-more {
        margin-left: 97px;
        margin-top: 66px;
    }
}

@media all and (min-width: 1200px) {
    .p-container {
        margin-left: 225px;
    }
    
    .breath {
        display: block;
        position: relative;
    }

    .breath p {
        font-size: 16px;
        line-height: 24px;
        color: #71870E;
        opacity: 0.8;
        position: absolute;
        right: 260px;
        top: 75px;
    }
}

/* images styles */
.images-container {
    /* position: relative; */
    margin-left: -20px;
    margin-right: -20px;
    display: grid;
    grid-template-columns: 45% 5% 25% 25%;
}

.man-woods {
    grid-column: 1 / 5;
    grid-row: 1 / 6;
}

.man-lies {
    grid-column: 2 / 5;
    grid-row: 4 / 7;
}

.small-picture {
    width: 100%;
    height: auto;
}

.big-picture {
    width: 100%;
    height: auto;
}

/* picture {
    position: absolute;
    top: 278px;
    left: 204px;
} */

/* .big-picture {
    width: 464px;
    height: auto;
    max-width: none;
} */

/* @media all and (min-width: 480px) {
    picture {
        bottom: 0;
        right: 0;
        top: initial;
        left: initial;
    }

    .small-picture {
        width: 190px;
        height: auto;
    }
}

@media all and (min-width: 560px) {
    .small-picture {
        width: 260px;
        height: auto;
    }
} */

@media all and (min-width: 1200px) {
    .images-container {
        /* position: relative; */
        grid-template-columns: 20% 20% 15% 25% 20%;
    }
    
    .images-container {
        margin-left: 56px;
    }

    .man-woods {
        grid-column: 1 / 5;
        grid-row: 1 / 6;
    }

    .man-lies {
        grid-column: 4 / 6;
        grid-row: 3 / 5;
    }
    /* picture {
        top: 208px;
        left: 343px;
    } */

    .big-picture {
        width: 464px;
        height: auto;
        max-width: none;
    }

    .small-picture {
        width: 260px;
        height: auto;
        max-width: none;
    }
}

/* @media all and (min-width: 1230px) {
    .small-picture {
        display: block;
    }
} */

/* 
========================
=====send and email=====
======================== */

/* layout */
.section-2-container {
    display: flex;
    padding-top: 200px;
}

.booking-container {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.email-container {
    flex-basis: 100%;
    padding-bottom: 145px;
}

/* .form-container {
    width: 69%;
} */

@media all and (min-width: 1200px) {
    .email-container {
        flex-basis: 75%;
        padding-left: 75px;
    }

    .form-container {
        width: 69%;
    }
}



/* send and email */
.section-2-text-container {
    padding-bottom: 100px;
}

.send_email {
    margin-bottom: 100px;
}

.sect-2_para {
    margin-left: 150px;
}

/* form */
.form_label_margin {
    margin-bottom: 20px;
}

.form_input_margin {
    margin-bottom: 50px;
}

.input_length {
    width: 100%;
}

.button_m {
    margin-left: auto;
    margin-right: auto;
}

.input_border {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,0.55)
}

@media all and (min-width: 1200px) {
    .button_m {
        margin-left: 157px;
        margin-right: 0;
    }
}

/* .form-newline::after {
    content:"\a";
    white-space: pre;
} */

