/* adding fonts */

@font-face {
    font-family: "ogg";
    src: url('fonts/OggLight.woff') format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "ogg";
    src: url('fonts/OggLightItalic.woff') format("woff");
    font-weight: 600;
    font-style: italic;
}

/* @font-face {
    font-family: "ogg";
    src: url('fonts/OggMedium.woff') format("woff");
    font-weight: medium;
    font-style: normal;
} */

@font-face {
    font-family: "ogg";
    src: url('fonts/OggMediumItalic.woff') format("woff");
    font-weight: 500;
    font-style: italic;
}

/* @font-face {
    font-family: "ogg";
    src: url('fonts/OggRegular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: "Trade Gothic LT Extended";
    src: url('fonts/Trade\ Gothic\ LT\ Extended.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

/* general styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trade Gothic LT Extended";
    color: #000000;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.wrapper {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0 20px;
}

.line {
    display: block;
    border-bottom: 1px solid #D0A049;
    width: 96px;
}

.mobile-hidden {
    display: none;
}

/* grid layout */
.section-container {
    display: grid;
    grid-template-columns: 100%;
}

.text-container {
    grid-column: 1/2;
    grid-row: 1/2;
}

.images-container {
    grid-column: 1/2;
    grid-row: 2/3;
}

@media all and (min-width: 810px){
    .section-container {
        grid-template-columns: 50% 50%;
    }
    
    .images-container {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .breath {
        display: block;
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

/* text styles */
.h2-container {
    font-family: 'ogg';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 170%;
    text-align: center;
    margin-bottom: 20px;
}

.green-text {
    color: #71870E;
}

.italic-text {
    font-family: 'ogg';
    font-style: italic;
    font-weight: 600;
}

.p-container {
    font-size: 16px;
    line-height: 28px;
    opacity: 0.85;
}

.line {
    margin-right: 30px;
    margin-bottom: 10px;
}

.line-and-more a {
    display: flex;
    text-decoration: none;
    color: #CD9A3D;
}

.line-and-more {
    margin-top: 50px;
    margin-left: 55px;
    margin-bottom: 30px;
}

@media all and (min-width: 810px) {
    .text-container {
        padding-top: 87px;
    }

    .h2-container {
        margin-left: 75px;
        font-size: 41px;
        line-height: 170%;
        max-width: 520px;
    }

    .philosoph {
        font-family: Trade Gothic LT Extended;
        display: inline-block;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        opacity: 0.55;
        margin-right: 15px;
        position: relative;
        bottom: 15px;
    }

    .italic-text {
        font-family: 'ogg';
        font-style: italic;
        font-weight: 500;
    }

    .p-container {
        margin-top: 100px;
        margin-left: 225px;
        margin-right: 40px;
    }

    .line-and-more {
        margin-left: 97px;
        margin-top: 66px;
    }

    .breath {
        position: relative;
    }
    
    .breath p {
        font-size: 16px;
        line-height: 24px;
        color: #71870E;
        opacity: 0.8;
        position: absolute;
        right: 260px;
        top: 75px;
    }
}

/* images styles */

.images-container {
    position: relative;
}

picture {
    position: absolute;
    top: 278px;
    left: 204px;
}

@media all and (min-width: 810px) {
    .images-container {
        margin-left: 56px;
    }

    picture {
        top: 208px;
        left: 343px;
    }
}