* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sintony', sans-serif;    
}

img {
    display: block;
    max-width: 100%;
    block-size: auto;
    object-fit: cover;
    width: 393px;
    height: 393px;
}

.wrapper {
    max-width: 1283px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-1 {
    display: flex;
    padding-top: 154px;
    padding-bottom: 155px;
    gap: 31px;
}

.col-4 {
    flex-basis: calc(4 / 12 * 100%);
    flex-grow: 0;
    flex-shrink: 0;
}

.col-8 {
    flex-basis: calc(8 / 12 * 100%);
    flex-grow: 0;
    flex-shrink: 0;
}

.col-8 p {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    /* text-transform: uppercase; */
    color: #000;
}