/* general styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.button {
    background-color: transparent;
    border: 1px solid transparent;
    font-family: 'Tomorrow', sans-serif;
    cursor: pointer;          
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* header */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-container li {
    list-style: none;
    font-family: 'Tomorrow', sans-serif;
    font-size: 16px;
    line-height: 130%;
    padding: 0;
}

.header-container li:first-child {
    display: none;
}

.header-container li:nth-child(3) {
    display: none;
}

.header-container li:nth-child(4) {
    display: none;
}

.header-container li:last-child img{
    display: none;
}

.logo {
    margin-top: 3px;
}

.header-container a{
    text-decoration: none;
    color: #000;
}

.button-menu {
    font-size: 16px;
    line-height: 21px;
}

.cart {
    display: flex;
}

.cart p {
    margin-right: 13px;
}

@media all and (min-width: 768px) {
    nav {
        justify-content: space-between;
    }
    
    .header-container ul {
        height: 110px;
        gap: 30px;
    }

    .header-container li {
        font-size: 20px;
    }

    .button-menu {
        display: none;
    }

    .logo {
        display: block;
    }

    .header-container li:first-child {
        display: list-item;
        
    }

    .header-container li:nth-child(4) {
        display: list-item;
        
    }
    
    .header-container li:nth-child(5) {
        display: list-item;
        
    }
    
    .header-container li:nth-child(6) {
        display: list-item;
       
    }

    .header-container li:last-child img {
        display: block;
    }
}

/* section-1 */
.section-1-container {
    background-color: #E3E5DE;
    padding-top: 53px;
    padding-bottom: 53px;
}

.section-1-container div {
    font-family: 'Tomorrow', sans-serif;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.line-big {
    display: none;
}

@media all and (min-width: 768px) {
    .section-1-container {
        padding-top: 38px;
        padding-bottom: 0;
    }

    .section-1-container div {
        font-size: 56px;
    }

    .line-big {
        display: block;
    }

    .first-line {
        display: none;
    }

    .second-line {
        display: none;
    }

    .sneakers-green {
        display: flex;
        justify-content: center;
    }
}

/* section-2 */
.section-2 {
    background-color: #F5F5F5;
}

.section-2-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.sneakers-blackwhite {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.section-2-container div:last-child {
    font-family: 'Sintony', sans-serif;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

@media all and (min-width: 768px) {
    .section-2-container {
        padding-top: 158px;
        padding-bottom: 164px;
        flex-direction: row;
        gap: 32px;
    }

    .section-2-container div:last-child {
        font-size: 40px;
    }
}

/* section-3 */
.section-3 {
    background-image: linear-gradient(to right, #8AA195, #332E0B);
}

.section-3-container {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Tomorrow', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 30px;
}

@media all and (min-width: 768px) {
    .section-3-container {
        padding-bottom: 197px;
        padding-top: 214px;
        font-size: 56px;
    }
}

/* section-4 */
.section-4 {
    background-color: #F5F5F5;
}

.section-4-container {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Sintony', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-4-text div:first-child {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 16px;
    font-weight: 700;
}

.section-4-text div:last-child {
    font-size: 20px;
    line-height: 160%;
}

.sneakers-white {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

@media all and (min-width: 768px) {
    .section-4-container {
        padding-top: 122px;
        padding-bottom: 122px;
    }

    .section-4-text div:first-child {
        font-size: 40px;
        margin-bottom: 64px;
        font-weight: 400;
    }

    .section-4-text div:last-child {
        font-size: 24px;
        line-height: 160%;        
    }
}

@media all and (min-width: 1000px) {
    .section-4-container{
        flex-direction: row;
        gap: 136px;
    }
    
}