@import './resets.scss';
@import './variables';
@import './mixins';

// general styles
scrollbar {
    display: none;
}

body {
    font-family: 'Basis Grotesque Pro', sans-serif;
}

ul {
    list-style: none;
}

@media (max-width: $tablet-brk) {
    .mobile-hidden {
        display: none;
    }
}

@media (min-width: $tablet-brk) {
    .desktop-hidden {
        display: none;
    }
}

// macro layout
.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper-inner {
    max-width: 1016px;
    margin-left: auto;
    margin-right: auto;      
}

// header
.header-container {
    padding-top: 160px;
}

.header__topic {
    @include h4_stl;
    color: $blue;
    margin-bottom: 30px;
    opacity: 0.9;
}

.header__statement {
    @include h3_stl;
    margin-bottom: 70px;
}

.header__description {
    @include p_lght_stl;
    opacity: 0.35;
}

//q&a
.qa-container {
    display: flex;
    justify-content: end;
    padding-bottom: 150px;
    padding-top: 6px;
}

.qa-form {
    max-width: 456px;
}

.qa-item__chx-benef,
.qa-item__chx-partc,
.qa-item__chx-prep,
.qa-item__chx-supp {
    display: none;
}

.lbl-container-benef {
    display: flex;
    gap: 57px;
}

.lbl-container-partc {
    display: flex;
    gap: 142px;
}

.qa-item__answer-container {
    max-height: 0;
    overflow: hidden;
    transition: all $accord-tran-time $accord-time-func;
}

.qa-item__chx-benef:checked ~ .qa-item__answer-container {
    max-height: 300px;
}

.qa-item__chx-partc:checked ~ .qa-item__answer-container {
    max-height: 300px;
}

.qa-item__chx-prep:checked ~ .qa-item__answer-container {
    max-height: 300px;
}

.qa-item__chx-supp:checked ~ .qa-item__answer-container {
    max-height: 300px;
}

// plus
.qa-item__lbl {
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-shrink: 0;
}

.hor {
    width: 15px;
    height: 1.4px;
    background: $blue;
    position: absolute;
    top: 7px;
    left: -1px;
    transition: 1s ease;
  }

  .vert {
    width: 15px;
    height: 1.4px;
    background: $blue;
    position: absolute;
    transform: rotate(90deg);
    bottom: 6.4px;
    left: -1px;
    transition: 1s ease;
  }
  
  .qa-item__chx-benef:checked ~ .lbl-container-benef .qa-item__lbl .vert,
  .qa-item__chx-benef:checked ~ .lbl-container-benef .qa-item__lbl .hor
  {
    transform: rotate(360deg);
    background: $black;
  }

  .qa-item__chx-partc:checked ~ .lbl-container-partc .qa-item__lbl .vert,
  .qa-item__chx-partc:checked ~ .lbl-container-partc .qa-item__lbl .hor
  {
    transform: rotate(360deg);
    background: $black;
  }