@import './resets.scss';
@import './variables';
@import './mixins';

body {
    font-family: 'Basis Grotesque Pro', sans-serif;
}

ul {
    list-style: none;
}

.wrapper {
    margin-left: 221px;
    margin-right: 221px;
}