*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: "Sintony", sans-serif;
}

ol {
  list-style: none;
}

.wrapper {
  max-width: 1244px;
  margin-left: auto;
  margin-right: auto;
}

.text-container {
  background-color: #F3F5F6;
  border-radius: 20px;
  padding: 32px 16px;
}

.list-item {
  padding: 32px 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid rgba(205, 214, 218, 0.25);
}

.list-item:last-child {
  border-bottom: none;
}

.number {
  font-size: 32px;
  line-height: 100%;
  padding-bottom: 11px;
  font-weight: 700;
  color: rgba(60, 60, 67, 0.5);
}

.check-01__h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  align-self: center;
}

.check-01__accord,
.check-02__accord,
.check-03__accord,
.check-04__accord {
  padding-top: 16px;
}

.check-01__text {
  font-size: 18px;
  line-height: 140%;
  color: rgba(60, 60, 67, 0.85);
}

.check-01,
.check-02,
.check-03,
.check-04 {
  display: none;
}

.check-01__lbl,
.check-02__lbl,
.check-03__lbl,
.check-04__lbl {
  display: flex;
  justify-content: space-between;
}

.check-01__accord,
.check-02__accord,
.check-03__accord,
.check-04__accord {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s linear;
}

.plus-bg {
  width: 32px;
  height: 32px;
  border-radius: 24px;
  background-color: #F3F5F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 5px;
}

@media (min-width: 768px) {
  .number {
    font-size: 48px;
    padding-right: 32px;
  }
  .list-item {
    padding: 40px 32px;
    flex-direction: row;
  }
  .check-01__h3 {
    font-size: 28px;
  }
  .plus-bg {
    width: 40px;
    height: 40px;
  }
  .text-container {
    padding: 48px 24px;
  }
  .check-01__accord,
.check-02__accord,
.check-03__accord,
.check-04__accord {
    padding-top: 26px;
  }
}
@media (min-width: 1440px) {
  .number {
    font-size: 48px;
    padding-right: 52px;
    letter-spacing: 0.25px;
  }
  .list-item {
    padding: 55px 60px;
  }
  .check-01__h3 {
    font-size: 32px;
  }
  .plus-bg {
    width: 48px;
    height: 48px;
  }
  .check-01__text {
    font-size: 20px;
  }
  .text-container {
    padding: 64px 32px;
  }
  .check-01__accord,
.check-02__accord,
.check-03__accord,
.check-04__accord {
    padding-top: 34px;
  }
}
.check-01:checked ~ .check-01__accord,
.check-02:checked ~ .check-02__accord,
.check-03:checked ~ .check-03__accord,
.check-04:checked ~ .check-04__accord {
  max-height: 250px;
}

.check-01__lbl .plus,
.check-02__lbl .plus,
.check-03__lbl .plus,
.check-04__lbl .plus {
  transition: all 0.25s linear;
}

.check-01:checked ~ .check-01__lbl .plus,
.check-02:checked ~ .check-02__lbl .plus,
.check-03:checked ~ .check-03__lbl .plus,
.check-04:checked ~ .check-04__lbl .plus {
  transform: rotate(45deg);
}

.check-01:checked ~ .check-01__lbl .plus-bg,
.check-02:checked ~ .check-02__lbl .plus-bg,
.check-03:checked ~ .check-03__lbl .plus-bg,
.check-04:checked ~ .check-04__lbl .plus-bg {
  background-color: #000;
}

.check-01:checked ~ .check-01__lbl .plus-path,
.check-02:checked ~ .check-02__lbl .plus-path,
.check-03:checked ~ .check-03__lbl .plus-path,
.check-04:checked ~ .check-04__lbl .plus-path {
  fill: #fff;
}/*# sourceMappingURL=main.css.map */