// general styles

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2E282A;
}

.wrapper {
    max-width: 1122px;
    margin-left: auto;
    margin-right: auto;
}

// macro layout

