@tailwind base;
@tailwind components;
@tailwind utilities;

@media all and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .desktop-hidden {
        display: none;
    }
}

.about_us_rad:checked ~ .about_us_rad-cont {
    border: 1px solid transparent;
    background-color: #0536FC;
    color: #FFFFFF;
}

.activity_rad:checked ~ .activity_rad-cont {
    border: 1px solid transparent;
    background-color: #0536FC;
    color: #FFFFFF;
}